/* -------- FORMULAIRE DE CONTACT -------- */

form {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(255, 0, 128, 0.34);
    font-family: Arial, sans-serif;
}

form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

form input[type="text"],
form select,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
}

form textarea {
    height: 150px;
    resize: vertical;
}

form button {
    background-color: hotpink;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: pink;
}

.titre-form{
    text-align: center;
    max-width: 700px;
    margin: 40px auto;
}

.titre-form h1{
     color: hotpink;
}

/* Responsive */
@media (max-width: 768px) {
    .titre-form {
        padding: 10px 20px;
        align-items: center;
    }

}